.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  .imageContainer {
    position: relative;
    width: 100%;
    height: 760px; /* Điều chỉnh chiều cao phù hợp */
  }